<div class="saludo">
    <h1>HOLA {{cuentaData.nombre | uppercase}}!</h1>
    <p>Te damos la bienvenida a tu perfil.</p>
</div>

<div>  

    <div class="datos-container" *ngIf="showEditarCuenta == false">
        <h2>INFORMACION DEL USUARIO</h2>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>DNI</h3>
                <p>{{cuentaData.dni}}</p>
            </div>
        </div>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>Nombre</h3>
                <p>{{cuentaData.nombre}}</p>
            </div>
        </div>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>Apellido</h3>
                <p>{{cuentaData.apellido}}</p>
            </div>
        </div>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>Numero de teléfono</h3>
                <p>{{cuentaData.tel_cel}}</p>
            </div>
        </div>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>Calle</h3>
                <p>{{cuentaData.dir_calle}}</p>
            </div>
        </div>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>Dirección</h3>
                <p>{{cuentaData.dir_numero}}</p>
            </div>
        </div>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>Codigo Postal</h3>
                <p>{{cuentaData.cp}}</p>
            </div>
        </div>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>Ciudad</h3>
                <p>{{cuentaData.ciudad}}</p>
            </div>
        </div>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>Provincia</h3>
                <p>{{cuentaData.provincia}}</p>
            </div>
        </div>
        <div class="dato-element">
            <div class="dato-content">    
                <h3>PH</h3>
                <p>{{cuentaData.ph}}</p>
            </div>
        </div>

    </div>

    <app-editar-cuenta *ngIf="showEditarCuenta == true" ></app-editar-cuenta>

</div>




    
<button type="button" class="btn btn-dark" (click)="showEditarCuentaForm()" *ngIf="showEditarCuenta == false">EDITA TU PERFIL</button>
<button type="button" class="btn btn-dark" (click)="showEditarCuentaForm()" *ngIf="showEditarCuenta == true">DEJAR DE EDITAR</button>

<button type="button" class="btn btn-dark" (click)="navigateToAdmin()" *ngIf="cuentaData.id_lvl == 1">ADMIN</button>