<div class="container">
  <h1 class="main-title">NOSOTROS</h1>
  <section class="modavirtual-intro">
    <h2>¿Qué es la Moda Virtual 3D?</h2>
    <div class="paragraph quienes-somos">
      <p>Virtual Trends es el primer e-commerce de moda digital en Buenos Aires. Nuestra misión es generar más conciencia sobre cómo la industria de la confección puede beneficiarse al adoptar lo digital.</p>
    </div>
    <div class="paragraph moda-digital">
      <p>En este sitio, podrás encontrar más de 250 diseños que provienen de diferentes diseñadores que están siendo pioneros en esta nueva industria. La moda digital y su proyección es una novedad que, por sus múltiples ventajas, atrae cada vez más a distintos patronistas y diseñadores que desean revolucionar las formas estándar de comercialización. 
        El uso de patrones digital ahorran una enorme cantidad de tiempo desde el inicio del proceso de diseño hasta tu prototipo final.</p>
    </div>
    <div class="paragraph visualizacion-3d">
      <p>La visualización en 3D de la ropa incluye el patrón, información técnica y la apariencia real de la prenda. 
        Esta representación refleja la realidad de la apariencia real de la prenda de manera más precisa que un boceto o un dibujo en Illustrator. 
        Crea una nueva forma de comunicación más eficiente entre los diseñadores y los fabricantes, y entre éstos últimos y Uds. como usuarios finales.</p>
    </div>
  </section>

  <div class="carrousel-wrapper">
    <app-carrousel></app-carrousel>
  </div>

  <section class="tecnologia-software">
    <h2>Tecnología y Software</h2>
    <h3>CLO 3D</h3>
    <div class="paragraph">
      <p>CLO 3D es un software de diseño de moda en 3D que permite al diseñador visualizar las prendas diseñadas de manera virtual gracias a la última tecnología de simulación. De esta forma se obtiene una visión realista de las prendas y colecciones en menos tiempo y con un coste muy bajo.</p>
    </div>
    <!--<h3>Conoce CLO 3D</h3>-->
    <div class="paragraph">
      <p>El software revisa instantáneamente los cambios o las modificaciones a los patrones, colores, texturas y detalles de acabado en 2D, para modificar la visualización.</p>
    </div>

    <div class="paragraph" id="ca-parrafo-video">
      <p>¡ESPIÁ UN POCO SOBRE EL PROCESO DE CONFECCIÓN VIRTUAL!</p>
    </div>
  </section>


  <div class="card card-video">
    <video class="card-img-top" controls>
      <source src="../../assets/videos/VIDEO-RAPIDO.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
    <div class="card-body">
      <h5 class="card-title">Proceso de confección virtual</h5>
      <p class="card-text">Paso a paso de modelado 3d en software en CLO 3D.</p>
      <!--<button class="btn btn-primary" id="play-button">Play</button>
      <button class="btn btn-primary" id="pause-button">Pause</button>
      <button class="btn btn-primary" id="stop-button">Stop</button>-->
    </div>
  </div>

</div>
