<div class="container">
  <section class="modavirtual-intro">
    <h2>¿Qué es la Moda Virtual 3D?</h2>
    <div class="paragraph">
      <p>Ofform3D es el primer estudio de moda digital en Praga. Nuestra misión es generar más conciencia sobre cómo la industria de la confección puede beneficiarse al adoptar lo digital.</p>
    </div>
    <div class="paragraph">
      <p>En esta biblioteca, puedes encontrar más de 250 patrones en diferentes formatos que son compatibles con todos los principales software 3D utilizados en la industria de la moda por patronistas y diseñadores. El uso de estos patrones puede ahorrarte una enorme cantidad de tiempo desde el inicio del proceso de diseño hasta tu prototipo final.</p>
    </div>
    <div class="paragraph">
      <p>La visualización en 3D de la ropa incluye el patrón, información técnica y la apariencia real de la prenda. Esta representación refleja la realidad de la apariencia real de la prenda de manera más precisa que un boceto o un dibujo en Illustrator. Crea una nueva forma de comunicación más eficiente entre los diseñadores y los fabricantes.</p>
    </div>
  </section>

  <section class="tecnologia-software">
    <h2>Tecnología y Software</h2>
    <h3>CLO 3D</h3>
    <div class="paragraph">
      <p>CLO 3D es un software de diseño de moda en 3D que permite al diseñador visualizar las prendas diseñadas de manera virtual gracias a la última tecnología de simulación. De esta forma se obtiene una visión realista de las prendas y colecciones en menos tiempo y con un coste muy bajo.</p>
    </div>
    <h3>Conoce CLO 3D</h3>
    <div class="paragraph">
      <p>El software revisa instantáneamente los cambios o las modificaciones a los patrones, colores, texturas y detalles de acabado en 2D, para modificar la visualización.</p>
    </div>
  </section>
</div>
