* {
    font-family: 'Archivo', sans-serif;
    color: #575757;
}

.center {
    text-align: center;
}

.error-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight:bold;
    padding-top: 5px;
    text-align: center;
}

.error-description {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

.error-img {
    width: 300px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 1% 0% 2%;
    height: 100%;
    margin: 0 auto;
    min-height: 300px;
}

.error-btn {
    padding: 10px 0px 8px;
    background: #3B3D40;
    color: #F7F7F2;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    transition: background-color .5s;
    margin-top: 40px;
    font-size: 20px;
    cursor: pointer;
    width: 250px;
}

.error-btn:hover {
    background: black;
}

/** Media queries */

@media screen and (max-width: 500px) {
    .main-product-container {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .main-product-container {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 769px) {
    .main-product-container {
        width: 100%;
        margin: 0 auto;
    }

    .error-img {
        width: 700px;
    }
}