* {
    color: #575757;
}

.main-product-container {
    width: 50%;
}

.main-product-description {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

.color-box {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    margin: 0px 5px;
    border: 1px solid #575757;
    display: inline-block;
    cursor: pointer;
    transition: box-shadow .5s;
}

.color-box:hover {
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.52);
}

.table-colors {
    border-collapse: separate;
    border-spacing: 3em 0.5em;
    margin: auto;
}

.button {
    padding: 7px 0px 5px;
    width: 100%;
    background: #3B3D40;
    color: #F7F7F2;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    transition: background-color .5s;
}

.button:hover {
    background: black;
}

.mgt-18 {
    margin-top: 18px;
}

/** Box colors */

.dark-red {
    background-color: #5E0F0F;
}

.purple-grey {
    background-color: #525781;
}

.orange {
    background-color: #DAA668;
}

.dark-green {
    background-color: #2C4E20;
}

.salmon {
    background-color: #CBA49A;
}

.cyan {
    background-color: #A8D3D9;
}