
    <div class= "Contacto-title-container">
        <h1 class="Contacto-title">CONTACTO</h1>
    </div>
    <form class="main-container">
        <div class="input-container" id="first-textbox">
            <h1>Nombre</h1>
            <input class="vertical-center" type="text">

        </div>
        <div class="input-container">
            <h1>Telefono</h1>
            <input class="vertical-center" type="text">

        </div>
        <div class="input-container">
            <h1>Email</h1>
            <input class="vertical-center" type="text">
        </div>
        <div class="input-container" id="mensaje-container" >
            <h1>Mensaje</h1>
            
            <textarea name="message" id="message" cols="30" rows="5" placeholder="Mensaje"></textarea>
        </div>      
        <div class="input-container">
            
            <button class="center" id="submit-button" > Enviar</button>  
        </div>
    
    </form>

    

    


