* { margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

.contacto-container {
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    margin: 5% auto 5% auto;
    box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.08);
    max-height:80%;
    max-width:70%;
    border-radius: 5px;
    border: 2px solid #575757;
    /*gap: 1.5em;*/         
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

/*.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}*/

/*h2 {
    color: aqua;
    font-size: 35px;
}*/

/*label {
    color: #F7F7F2;
    font-size: 15px;
    font-weight: 600px;
    margin-bottom: 15px;
}*/

.contacto-title-container {
    width: 35%;
    text-align: center;
    margin: auto;
    margin-top: 1em;
}

.contacto-title{
    position: relative;
    border-top: 2px solid #575757;
    border-bottom: 2px solid #575757;
    font-weight: 500;
    font-family: 'Josefin Sans';
    font-style: normal; 
    font-size: 1.50em;
    line-height: 40px;
}


.popup-box {
    position: absolute;
    width: 50%;
    left: 8%;
    right: 8%;
    top: 14%;
    border: 2px solid #575757;
    margin-bottom: 200px;
    border-radius: 6px;
    padding:20px;
}

.input-container{
    position: relative;
    height: 40px;
    border: 2px solid #575757;
    border-radius: 3px;
    margin-bottom: 30px;
    width: 20%;
}


.input-container>h1{
    position: absolute;
    display: inline-block;
    margin-left: 2%;
    padding: 0 10px;
    top: -10px;
    background-color: #F7F7F2;
    font-size: 12px;
}

.input-container>input{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
}

.input-container>textarea{
    margin-left: 2%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    width: 96%;
    border: none;
    outline: none;
    background: none;
    font-size: 12px;

}
#mensaje-container{
    height: 80px ;
}


#first-textbox{
    margin-top: 35px;
}

#last-textbox{
    margin-bottom: 40px;
}

#submit-input{
    margin-bottom: 60px;
}

#submit-button{
    cursor: pointer;
    padding: 10px 0px 8px;
    /*color: #F7F7F2;*/
    font-weight: 600;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    transition: background-color .5s;
    margin-bottom: 7%;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    background: none;
    font-size: 1em;
    line-height: 12px;
}
#submit-button:hover{
    background-color: #F7F7F2;
    color: #3B3D40;
    border: 1px solid #575757;  
}

#submit-input:active, #submit-button:active{
    border: 1px solid #575757;
    color: #F7F7F2;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    background-color: #3B3D40;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/** Media queries */



@media screen and (min-width: 599px) {
    .popup-box {
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 auto;

    }

    .input-container{
        margin-left: none;
        width: 80%;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .Contacto-title-container {
        width: 100%;
        
    }
    
}
/*
@media screen and (min-width:1200px) {
    .popup-box {
        margin: 0 auto;
    }

    .main-product-title {
        margin-top: 20px;
    }
}*/

