<div class="modal-reg">
    <div class="contenedor-reg">
        <div class="head-reg">
            <div class="d-flex justify-content-center">
                <button (click)="closePopUp()" class="close-reg"></button>
            </div>
        </div>
        <h1 class="title-reg">REGISTRO</h1>
        <div class="body-reg">
            <div class="left-reg">
                <form class="form-reg">
                    <label class="lab-reg">Dirección de correo electrónico</label>
                    <input type="email" class="inp-reg">
                    <label class="lab-reg">Contraseña</label>
                    <input type="password" class="inp-reg">
                    <label class="lab-reg">Nombre</label>
                    <input type="text" class="inp-reg">
                    <label class="lab-reg">Apellido</label>
                    <input type="text" class="inp-reg">
                    <label class="lab-reg">Documento de identidad</label>
                    <input type="number" class="inp-reg">
                    <label class="lab-reg">Codigo Postal</label>
                    <input type="number" class="inp-reg">
                    <label class="lab-reg">Calle</label>
                    <input type="text" class="inp-reg">
                    <label class="lab-reg">Altura</label>
                    <input type="number" class="inp-reg">
                    <label class="lab-reg">Piso-Departamento-PH</label>
                    <input type="text" class="inp-reg">
                    <label class="lab-reg">Telefono/Celular</label>
                    <input type="tel" class="inp-reg">
                    <label class="lab-reg">Ciudad</label>
                    <input type="text" class="inp-reg">
                    <label class="lab-reg">Provincia</label>
                    <input type="text" class="inp-reg">
                    <input type="submit" class="btn-reg" value="ENVIAR">
                </form>
            </div>
            <div class="right-reg">
                <span class="wrn-reg">!</span>
                <h2>IMPORTANTE</h2>
                <p>1. Completá todos los campos disponibles con tus datos personales.</p>
                <p>2. Después que envíes tus datos, quedaran relacionados con tu cuenta.</p>
                <p>3. Necesitarás confirmar tu cuenta desde el enlace que se te enviará al email con el que asociastes tu cuenta cerciorate de que los datos sean los correctos.</p>
                <p>4. La dirección proporcionada será la que se utilice para enviar tus pedidos. </p>
            </div>
        </div>
    </div>
</div>