<div class="main-product-container">
    <h3 class="main-product-description">COLORES A ELECCIÓN</h3>
    <table class="table-colors">
        <tr>
            <td>
                <div (click)="selectColor('dark-red')" class="color-box dark-red"></div>
            </td>
            <td>
                <div (click)="selectColor('purple-grey')" class="color-box purple-grey"></div>
            </td>
            <td>
                <div (click)="selectColor('orange')" class="color-box orange"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div (click)="selectColor('dark-green')" class="color-box dark-green"></div>
            </td>
            <td>
                <div (click)="selectColor('salmon')" class="color-box salmon"></div>
            </td>
            <td>
                <div (click)="selectColor('cyan')" class="color-box cyan"></div>
            </td>
        </tr>
    </table>
    <button class="sizes-button" (click)="navigate()">ELEGÍ TU SISTEMA DE TALLE</button>
</div>
<router-outlet></router-outlet>