<header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo"><a href="index.html">VIRTUAL TRENDS<sup>tm</sup></a></h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li class="active rk-menu__item"><a href="index.html" class="rk-menu__link">Productos</a>
        </li>
        <li class="rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Favoritos</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li class="rk-menu__item"><a href="productos-hombre.html" class="rk-menu__link">Él</a></li>
              <li class="rk-menu__item"><a href="productos-mujer.html" class="rk-menu__link">Ella</a></li>
              <li class="rk-menu__item"><a href="accesorios.html" class="rk-menu__link">Accesorios</a>
                <nav class="rk-menu__sub">
                  <ul class="rk-container">
                    <li class="rk-menu__item"><a href="calzado.html" class="rk-menu__link">Calzado</a></li>
                    <li class="rk-menu__item"><a href="calzado.html" class="rk-menu__link">Bolsos y carteras</a></li>
                  </ul>
                </nav>
              </li>
              <li class="rk-menu__item"><a href="calzado.html" class="rk-menu__link">Calzado</a></li>
            </ul>
          </nav>
        </li>
        <li class="rk-menu__item"><a href="carrito.html" class="rk-menu__link">Carrito</a>
        </li>
        <li class="rk-menu__item"><a href="#0" class="rk-menu__link">Nosotros</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li class="rk-menu__item"><a href="quienes-somos.html" class="rk-menu__link">Quienes somos</a></li>
              <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">Nuestra misión</a></li>
              <li class="rk-menu__item"><a href="design-styles.html" class="rk-menu__link">Visión digital</a></li>
            </ul>
          </nav>
        </li>

        <li class="rk-menu__item"><a href="comunidad.html" class="rk-menu__link">Comunidad</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li class="rk-menu__item"><a href="diseniadores-virtual.html" class="rk-menu__link">Nuestra plataforma</a></li>
              <li class="rk-menu__item"><a href="diseniadores-virtual.html" class="rk-menu__link">Nuestros diseniadores</a></li>
              <li class="rk-menu__item"><a href="diseniadores-virtual.html" class="rk-menu__link">Vendé tus disenios</a></li>
            </ul>
          </nav>
        </li>

        <li class="rk-menu__item"><a href="cuenta.html" class="rk-menu__link">Cuenta</a>
        </li>
      </ul>
      <form class="rk-search">
        <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </form>
    </nav>
  </div>
</header>


<!-- <div *ngIf="isVisible">
 
</div> -->



