<header class="ca-header">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a href="/home">
          <img src="./assets/LOGO-VT.png" alt="Logo de Virtual Trends">
        </a>
      </div>
      <ul>            
        <li>
          <a routerLink="/ruta-del-enlace" class="ca-boton">Productos</a>
        </li>
        <li>
          <a routerLink="/ruta-del-enlace" class="ca-boton">Carrito</a>
        </li>
        <li>
          <a routerLink="/ruta-del-enlace" class="ca-boton">Nosotros</a>
        </li>
        <li>
          <a routerLink="/ruta-del-enlace" class="ca-boton">Comunidad</a>
        </li>
        <li><a routerLink="/ruta-del-enlace" class="ca-boton">Cuenta</a></li>
        <div class="dropdown">
          <a href="#" class="ca-boton dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menú
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a routerLink="/ruta-del-enlace" class="dropdown-item">Productos Hombre</a>
            <a routerLink="/ruta-del-enlace" class="dropdown-item">Productos Mujer</a>
          </div>
        </div>
      </ul>
    </div>
  </nav>
  <script>
    // código JS para el dropdown menu
    document.addEventListener("DOMContentLoaded", function () {
      var dropdownMenu = document.querySelectorAll('.dropdown-menu');
      var dropdownToggle = document.querySelectorAll('.dropdown-toggle');
      var dropdownArray = Array.prototype.slice.call(dropdownToggle);
  
      dropdownArray.forEach(function (el) {
        el.addEventListener('click', function (e) {
          e.preventDefault();
          var dropdownMenu = el.nextElementSibling;
          el.classList.toggle('active');
          dropdownMenu.classList.toggle('active');
        });
      });
    });
  </script>
</header>



<!-- <header class="ca-header">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a href="/home">
          <img src="./assets/LOGO-VT.png" alt="Logo de Virtual Trends">
        </a>
      </div>
      <ul>            
        <li>
          <a routerLink="/ruta-del-enlace" class="ca-boton">Productos</a>
        </li>
        <li>
          <a routerLink="/ruta-del-enlace" class="ca-boton">Carrito</a>
        </li>
        <li>
          <a routerLink="/ruta-del-enlace" class="ca-boton">Nosotros</a>
        </li>
        <li>
          <a routerLink="/ruta-del-enlace" class="ca-boton">Comunidad</a>
        </li>
        <li><a routerLink="/ruta-del-enlace" class="ca-boton">Cuenta</a></li>
        <div class="dropdown">
          <a href="#" class="ca-boton dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menú
          </a>
        </div>
      </ul>
      
      </div>
  </nav>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a routerLink="/ruta-del-enlace" class="dropdown-item">Productos Hombre</a>
    <a routerLink="/ruta-del-enlace" class="dropdown-item">Productos Mujer</a>
  </div>
</header>


 -->