header{
  margin: 0%;
  padding: 0%;
}

.ca-header {
  background-color: #F7F7F2;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar-logo {
  width: 7rem;
  height: auto;
  margin-right: 1rem;
  margin-left: 1rem;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar-toggler{
  color:#575757;
  margin: 1rem;

}


.navbar-nav {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: #575757;
  transition: color 0.5s;
  font-size: 1.1rem; 
  text-transform: uppercase;
  margin: 0 0.65em;
}

.nav-link:hover {
  color: #1c1b1b;
  text-decoration: underline #1c1b1b;
  text-underline-offset: 6px;
  font-weight: 600;
  cursor: pointer;
}