header{
  margin: 0%;
  padding: 0%;
}

.ca-header {
  background-color: #F7F7F2;
  /*padding: 5px 0;*/
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar-logo {
  width: 5rem;
  height: auto;
  margin-right: 1rem;
  margin-left: 1rem;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar-toggler{
  color:#575757;
  margin: 1rem;

}


.navbar-nav {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: #575757;
  transition: color 0.5s;
  font-size: 1rem; 
  text-transform: uppercase;
  margin: 0 0.65em;
}

.nav-link:hover {
  color: #1c1b1b;
  text-decoration: underline #1c1b1b;
  text-underline-offset: 6px;
  font-weight: 600;
  cursor: pointer;
}


@media screen and (max-width: 599px) {

  .navbar-logo {
    width: 4.5rem;
    height: auto;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .ca-header .navbar-nav .nav-link {
    font-size: 13px; /* Tamaño de fuente personalizado */
  }

}


@media screen and (min-width: 599px) and (max-width: 768px) {

  .navbar-logo {
    width: 5.5rem;
    height: auto;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .ca-header .navbar-nav .nav-link {
    font-size: 15px; /* Tamaño de fuente personalizado */
  }

}


@media screen and (min-width: 768px) and (max-width: 1599px) {

  .navbar-logo {
    width: 6.5rem;
    height: auto;
    margin-right: 1.15rem;
    margin-left: 1.15rem;
  }
  .ca-header .navbar-nav .nav-link {
    font-size: 18px; /* Tamaño de fuente personalizado */
  }


}


@media screen and (min-width: 1599px) and (max-width: 2500px) {

  .navbar-logo {
    width: 7.5rem;
    height: auto;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }
  .ca-header .navbar-nav .nav-link {
    font-size: 20px; /* Tamaño de fuente personalizado */
  }

}

@media screen and (min-width: 2500px) and (max-width: 3500px) {

  .navbar-logo {
    width: 7.5rem;
    height: auto;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .ca-header .navbar-nav .nav-link {
    font-size: 28px; /* Tamaño de fuente personalizado */
  }

}