<div class="popup">
    <link rel="stylesheet" type="text/css" href="talla-estandar.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <button class="cerrar" (click)="cerrarEstandar()"></button>
      <hr class="contornoarriba">
      <h2 class="titulo">SISTEMA DE TALLE ESTÁNDAR</h2>
      <hr class="contornoabajo">
      <p class="textorandom">Nuestros avatares se manejan en medidas
        estandar (XS-S-M-L-XL). Sin embargo, tomando
        tus medidas, podés personalizarlas cargando tu
        talla en el formulario.</p>
        <div class="tallestandar">
        <div class="talle">TALLE ESTÁNDAR</div>
        </div>
      <div class="bdt">
        <input type="button" [ngClass]="{'inactivo': !esActivo('XS'), 'activo': esActivo('XS')}"
                             [class.seleccionado]="seleccionado === 'XS'" 
                             (click)="toggleSeleccionado('XS')" class="botoncitodetalla" value="XS">
                             
        <input type="button" [ngClass]="{'inactivo': !esActivo('S'), 'activo': esActivo('S')}"
                             [class.seleccionado]="seleccionado === 'S'" 
                             (click)="toggleSeleccionado('S')" class="botoncitodetalla" value="S">

        <input type="button" [ngClass]="{'inactivo': !esActivo('M'), 'activo': esActivo('M')}"
                             [class.seleccionado]="seleccionado === 'M'" 
                             (click)="toggleSeleccionado('M')" class="botoncitodetalla" value="M">

        <input type="button" [ngClass]="{'inactivo': !esActivo('L'), 'activo': esActivo('L')}"
                             [class.seleccionado]="seleccionado === 'L'" 
                             (click)="toggleSeleccionado('L')" class="botoncitodetalla" value="L">

        <input type="button" [ngClass]="{'inactivo': !esActivo('XL'), 'activo': esActivo('XL')}"
                             [class.seleccionado]="seleccionado === 'XL'" 
                             (click)="toggleSeleccionado('XL')" class="botoncitodetalla" value="XL">

      </div>
      <button type="button" class="agregaralcashito" (click)="agregar_al_carrito()">AGREGAR AL CARRITO</button>
      <p *ngIf="Seleccionado == 'error'" class="alert-text">
        Debes elegir un talle
      </p>
    </div>