
<div>
  <footer class="ca-footer">
    <div class="ca-grid">
      <div class="ca-grid_item_left">
        <ul class="ca-menu ca-footer-menu ca-footer-menu-left">
          <li class="ca-links-info">
            <a href="politicas-de-privacidad.html" class="ca-menu__link">Políticas de privacidad</a>
          </li>
          <li class= "ca-links-info">
            <a href="terminos-y-condiciones.html" class="ca-menu__link">Términos y condiciones</a>
          </li>
          <li class= "ca-links-info">
            <a href="prensa.html" class="ca-menu__link">Prensa</a>
          </li>
        </ul>
      </div>
      <div class="ca-grid_item_center">
        <div class="ca-footer-container_tex_copy">
          <p class="ca-footer_text ca-footer_copy">
            <span class="ca-u-bold">©</span>
            <span class="ca-u-bolder">VIRTUAL TRENDS </span>
            Todos los derechos reservados.
          </p>
        </div>
        <div class="ca-grid_item_center_newsletter newsletter">
          <h3 class="newsletter-title">Newsletter</h3>
          <div class="newsletter-input">
            <form (ngSubmit)="submitNewsletter()" class="newsletter-form">
              <!--<input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Ingrese aquí su email">-->
              <input type="email" class="form-control" placeholder="Ingrese aquí su email">
              <button class="btn btn-dark">Suscribirse</button>
            </form>
          </div>
        </div>
      </div>
      <div class="ca-grid_item_right">
        <ul class="ca-menu ca-footer-menu ca-footer-menu-left">
          <li>
            <p class="ca-footer_text ca-footer_contact">
              <span class="ca-u-bold">Email: </span>
              <span class="ca-u-bolder">
              <a href="#0" class="rk-dark-color">contact@virtualtrends-design.com</a></span>
            </p>
          </li>
          <li>
            <p class="ca-footer_text ca-footer_by">Desarrollo por Día 256 
              <a href="http://dia256.com" class="ca-u-bolder">Día 256.</a>
            </p>
          </li>
          <li>
            <p class="ca-footer_text ca-footer_by">Diseño gráfico por CGA 
              <a href="http://cga.com" class="ca-u-bolder">CGA.</a>
            </p>
          </li>
        </ul> 
      </div>
    </div>
  </footer>
</div>



  
