* {
    font-family: 'Josefin Sans',sans-serif;
    color: #575757;
    /*background-color: #F7F7F2;*/

}

.main-all-sections {
    display: inline-block;
    font-family: 'Josefins Sans',sans-serif;
    margin: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    /*clear: both;*/
    width: 65%;
    /*justify-content: center;*/
  }

.main-container{
    width: 75%;
}

.main-container p {
    font-size: 1em;
}

.main-container h2{
    font-size: 1.35em;
}

/*.paragraph {
    font-size: 0.90rem;
    text-align: center;
    line-height: 1.5em;
}*/

.main-nosotros-container {
    width: 75%;
}

.main-nosotros-title {
    font-size: 1.60rem;
    border-top: 2px solid #575757;
    border-bottom: 2px solid #575757;
    line-height: 40px;
    font-weight: 500;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
}


.main-comunidad-title {
    font-size: 1.60rem;
    border-top: 2px solid #575757;
    border-bottom: 2px solid #575757;
    line-height: 40px;
    font-weight: 500;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
}
.main-productos-container{
    width: 75%;
}

.main-productos-title{
    font-size: 1.60rem;
    border-top: 2px solid #575757;
    border-bottom: 2px solid #575757;
    line-height: 40px;
    font-weight: 500;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
}

.ca_boton_container {
    width: 100%;
    flex-direction: column;
    align-content: center;
    display: flex;

}

.all-products-button {
    padding: 15px;
    background: #3B3D40;
    color: #F7F7F2;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    transition: background-color .5s;
    margin-top: 2.25em;
    font-size: 16px;
    font-family: 'Archivo', sans-serif;
    cursor: pointer;
    /*padding: 20px 40px;
    align-self: center;*/
}

.all-products-button:hover {
    background: #191B1D;
}

/* .main-nosotros-container,
.main-comunidad-container,
.main-productos-container {
    margin: 0 auto;
}
 */

/** Media queries */

/** Media queries MOBILE */


@media screen and (max-width: 768px) {

    .main-all-sections {
        width: 80%;
        
    }
    .main-container h2 {
        font-size: 1em;
    }
    
    .main-container {
        /*margin: 0 auto;*/
        width: 100%;
    }

    .main-container p {
        font-size: 0.75em;
    }
    
    .main-nosotros-container {
        /*margin: 0 auto;*/
        width: 75%;
    }
    .main-comunidad-container {
        width: 75%;
    }
    .main-productos-container {
        width: 75%;
    }




}

/** Media queries TABLETS */

@media screen and (min-width: 768px) and (max-width: 1299px) {
    
    .main-all-sections {
        width: 75%;
      }

      .main-container {
        width: 100%;
    }

    .main-container p {
        font-size: 0.95em;
    }

  }


@media screen and (min-width: 1299px) {
    .main-container {
        width: 100%;
        font-size: larger;
    }
    .main-all-sections {
        width: 80%;
      }
    
}

@media screen and (min-width: 2500px) {
    .main-container {
        width: 100%;
        font-size: 1.65em;
    }
    
    .main-comunidad-title {
        width: 100%;
        margin-top: 30px;
    }

    .main-productos-title {
        width: 100%;
        margin-top: 30px;
    }
    
}
