<div class="main-all-sections">
  <div class="main-container">
    <h2 class="main-nosotros-title">VIRTUAL TRENDS</h2>
    <p class="paragraph">Las diseñadores siempre están en la búsqueda de innovar y optimizar los procesos de desarrollo de producto. La tecnología hoy más que nunca permite revolucionar el sistema de compra y venta de productos. 
      <b>VIRTUAL TRENDS</b> te acerca una plataforma única donde vas a encontrar los últimos modelos desarrollados con la última tecnología de software 3D, con la posibilidad de comprarlos y volverlos una realidad totalmente individual.
      Nosotros apostamos creemos que cada cuerpo y cada elección es única. Y te ofrecemos un espacio para que puedas elegir qué comprar -sobre una cantidad de productos y diseñadores disponibles- qué sistema de producción comprar -si deseas pedir sobre el sistema de talla estándar o personalizar las medidas desde la carga de tus medidas personales- y con qué  estampas y/o colores vas a recibir tu producto.</p>
  </div>
  <div class="main-container">
    <h2 class="main-comunidad-title">COMUNIDAD</h2>
    <p class="paragraph"> Los mejores y más disruptivos diseñadores eligen <b>VIRTUAL TRENDS</b> para acompañarnos en esta tarea bellísima de revolucionar el sistema de compra y venta de productos. Cada diseñador es seleccionado y aceptado a partir de la calidad innovadora de los diseños 3d que nos presentan.
      Si vos sos un diseñador/a y quisieras unirte a esta propuesta te pedimos que te comuniques con nosotros.
    </p>
  </div>
  <div class="main-container">
    <h2 class="main-productos-title">PRODUCTOS</h2>
    <p class="paragraph">
      <b>VIRTUAL TRENDS</b> te ofrece una amplísima disponibilidad de diseños en todas las categorías que estás buscando. Podrás elegir el diseñador que más te guste, y adentrarte en nuestra experiencia de compra virtual personalizando, entre otras cuestiones importantes como el color de los textiles, aquello más importantes a la hora de adquirir cualquier prenda:
      el sistema de talle.
      <b>VIRTUAL TRENDS</b> apoya la diversidad. ¡y queremos que descubras todas las posibilidades que tenemos para vos!
    </p>
  </div>
  <div class="ca_boton_container">
    <button type="button" (click)="navigate()" class="all-products-button">VER TODOS LOS PRODUCTOS</button>
  </div>
</div>
