<head>
  <link rel="stylesheet" type="text/css" href="pantalla-del-carrito.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
  <div class="carrito">
    <div class="titulo">
        <h1>CARRITO</h1>
    </div>
    <div class="subtitulo">
        <p>Lista de productos</p>    
    </div>
    <div class="lista">
      
    </div>
    <div class="subtotal">
      <p>Subtotal: Perro</p>
      <p>Impuestos: Marcos</p>
      <hr>
      <p>Total: Lechuga</p>
    </div>
    <div class="botones">
      <button class="volver">SEGUIR COMPRANDO</button>
      <button (click)="navigate()" class="finalizar">PAGAR</button>
    </div>
  </div>
</body>
