.main-container {
  /*display: flex;*/
  /*justify-content: center;*/
  width: 100%;
  padding: 5% 0%;
  height: 100%;
} 

.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .first {
    border-radius: 2%;
      width: 700px;
      height: 700px;
      margin-top: 0.2%;
      margin-bottom: 2%;
  }  


@media screen and (max-width: 768px) {
  .main-image-container {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      flex-direction:row;
  }
  .first {
      width: 300px;
      height: 300px;
      margin-bottom: 16px;
  }
}

