.main-container {
  /*display: flex;*/
  /*justify-content: center;*/
  width: 100%;
  padding: 5% 0%;
  height: 100%;
} 

.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: 0 auto;*/

  }

  .first {
    border-radius: 2%;
    width: 52%;
    margin-top: 0.2%;
    margin-bottom: 2%;
    transition: width 0.3s ease;    
    
  }  

  
  /*@media (min-width: 1299px) {
    .first {
      width: 48%;
    }
  }*/

  /*@media (min-width: 2500px) {
    .first {
      width: 60%;
    }
  }*/