* {
    color: #575757;
}

.popup-title-container {
    position: relative;
    padding: 0px 0% 0px 5%;
    width: 200px;
    text-align: left;
}

.popup-title{
    border-top: 2px solid #575757;
    border-bottom: 2px solid #575757;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
}
.popup-box {
    position: relative;
    background-color: #F8F8F8;
    width: 400px;
    height: 880px;
    margin-top: 14%;
    border: 2px solid #575757;
    margin-bottom: 50px;
    border-radius: 6px;
    padding:10%;
}

.form-container{
    width: 30%;
}

.input-container{
    position: relative;
    background-color: #FFFFFF;
    height: 30px;
    border: 2px solid #575757;
    font-family: 'archivo';
    font-style: normal; 
    border-radius: 6px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 150px;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}


.input-container>h1{
    position: absolute;
    display: inline-block;
    margin-left: 2%;
    padding: 0 10px;
    top: -15px;
    background-color: #F7F7F2;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
}

.input-container>input{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 8%;
    width: 96%;
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    display: flex;
}

#first-textbox{
    margin-top: 35px;
}

#last-textbox{
    margin-bottom: 40px;
}

#submit-input{
    margin-bottom: 60px;
    width: 90%;
}

#submit-button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
}

#submit-button:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#submit-input:active, #submit-button:active{
    color:#F7F7F2;
    background-color: #3B3D40;
}

.close-button{
    cursor: pointer;
    position: absolute;
    border: none;
    outline: none;
    background: none;
    top: 20px;
    right: 20px;
    background-image: url(../../../assets/Boton-cierre.bmp);
    height: 22px;
    width: 22px;
}

.close-button:active{
    border: none;
    outline: none;
    background: none;
    background-image: url(../../../assets/Boton-cierre-activo.bmp);
}

.exclamation-container{
    position: absolute;
    width: 60%;
    left: 280px;
    top: 120px;
}

#exclamation-alert{
    width: 40px;
    padding-top: 10px;
    left: -5px;
    text-align: center;
}

#exclamation-alert>h1{
    font-weight: 700;
    font-size: 30px;
    color: #BB7A80;
}

.exclamation-subtitle{
    position: absolute;
    margin-top: 10px;
    left: -35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.075em;
}

.exclamation-text{
    position: absolute;
    margin-top: 40px;
    left: -70px;
    font-weight: 400;
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.075em;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/** Media queries */

@media screen and (min-width: 768px){
    
}

@media screen and (max-width: 768px) {
    .popup-box {
        margin-right: 200;
    }
    .input-container{
        margin-left: none;
        width: 80%;
    }
    .popup-title-container {
        padding: 0px 5% 0px 5%;
    }
    #exclamation-container{
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        text-align: center;
    }
    .exclamation-subtitle{
        position: relative;
        top: auto;
        left: auto;
        text-align: center;
    }
    .exclamation-text{
        position: relative;
        top: auto;
        left: 20%;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .popup-box {
    }

    .main-product-title {
        margin-top: 20px;
    }

    .close-button{
        top: 10px;
        right: 10px;
    }
}