* {
    color: #575757;
}

.popup-title-container {
    position: relative;
    padding: 0px 0% 0px 5%;
    width: 65%;
    text-align: left;
}

.popup-title{
    border-top: 2px solid #575757;
    border-bottom: 2px solid #575757;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
}
.popup-box {
    position: relative;
    background-color: #F8F8F8;
    width: auto;
    height: auto;
    margin-top: 5%;
    border: 2px solid #575757;
    margin-bottom: 50px;
    border-radius: 6px;
    padding: 5%;
}

.form-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-left: 20px;
    border: 1px solid #575757;
}

.text-container{
    background-color: #FFFFFF;
}

.input-container>h1{
    position: relative;
    display: inline-block;
    padding: 2px;
    top: -20%;
    left: 5%;
    width: 90%;
    background-color: #F7F7F2;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
}

.input-container>input{
    position: re;
    height: 100%;
    margin-left: 10%;
    width: 80%;
    top: -10%;
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    display: flex;
    font-family: 'archivo';
}

#first-textbox{
    margin-top: 35px;
}

#last-textbox{
    margin-bottom: 40px;
}

#submit-input{
    margin-bottom: 60px;
    width: 350px;
}

.btn-dark {
    cursor: pointer;
    width: 100%;
    background: #3B3D40;
    color: #F7F7F2;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    transition: background-color .5s;
    font-size: 16px;
    margin-bottom: 10%;
  }

  .btn-dark:hover {
    background: #FFFFFF;
    color: #3B3D40;
  }

  .btn-dark:active {
    background: #3B3D40;
    color: #FFFFFF;
  }


.close-button{
    cursor: pointer;
    position: absolute;
    border: none;
    outline: none;
    background: none;
    top: 20px;
    right: 20px;
    background-image: url(../../../assets/Boton-cierre.bmp);
    height: 22px;
    width: 22px;
}

.close-button:active{
    border: none;
    outline: none;
    background: none;
    background-image: url(../../../assets/Boton-cierre-activo.bmp);
}

.exclamation-container{
    position: absolute;
    width: 0%;
    margin-left: 70%;
    top: 120px;
}

#exclamation-alert{
    width: 40px;
    padding-top: 10px;
    left: -5px;
    text-align: center;
}

#exclamation-alert>h1{
    font-weight: 700;
    font-size: 30px;
    color: #BB7A80;
}

.exclamation-subtitle{
    position: absolute;
    margin-top: 10px;
    left: -35px;
    font-weight: 500;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.075em;
}

.exclamation-text{
    position: absolute;
    margin-top: 40px;
    left: -70px;
    font-weight: 400;
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.075em;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/** Media queries */

@media screen and (max-width: 768px) {
    .popup-box {
        margin-right: 200;
    }
    .input-container{
        margin-left: 70%;
        width: 200px;
        height: 40px;
    }
    .popup-title-container {
        width: 300px;
        margin-left: 5%;
    }
    .exclamation-container{
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        text-align: center;
    }

    #exclamation-alert{
        left: 30%;
    }

    .exclamation-subtitle{
        position: relative;
        top: auto;
        left: -15px;
        text-align: center;
    }
    .exclamation-text{
        position: relative;
        top: auto;
        left: 20%;
        text-align: center;
    }

    #last-textbox{
        margin-bottom: 0px;
    }

    #submit-input{
        margin-bottom: 60px;
        left: -55%;
        width: 250px;
    }
}

@media screen and (max-width: 1200px) {

    .main-product-title {
        margin-top: 20px;
    }

    .close-button{
        top: 10px;
        right: 10px;
    }
}