<div>
    <div class="popup-box">

        <div class="formulario">

            <div class="popup-title-container  row">

                <h1 class="popup-title">TALLA PERSONALIZADA</h1>

            </div>
            <div class="row">
                <div class="form-container col-8">

                    <div class="input-container text-container" id="first-textbox">
                        <h1>Contorno cuello</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container">
                        <h1>Contorno de busto</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container">
                        <h1>Largo de talle</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container">
                        <h1>Contorno cintura</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container">
                        <h1>Contorno cadera</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container">
                        <h1>Largo de manga</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container">
                        <h1>Contorno de muñeca</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container">
                        <h1>Largo de pierna</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container">
                        <h1>Altura de rodilla</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container">
                        <h1>Contorno de rodilla</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                    <div class="input-container text-container" id="last-textbox">
                        <h1>Contorno de tobillo</h1>
                        <input class="vertical-center" type="number">
        
                    </div>
                        
                    <div class="input-container">
                        <button class="btn btn-dark">ENVIAR</button>
                    </div>

                </div>
                
                <div class="exclamation-container col-4">


                    <div class="popup-title-container" id="exclamation-alert">

                    
                        <h1 class="popup-title">!</h1>
                    
                    </div>
                    
                    <h2 class="exclamation-subtitle">IMPORTANTE</h2>
                    
                    <p class="exclamation-text">1.Completá todos los campos disponibles con tus medidas personales. 
                        <br><br>
                        2.Después que envíes tus medidas y realices el pago, te enviaremos una copia de tu pedido con la carga de datos. 
                        <br><br>
                        3.Necesitarás confirmar esos datos desde el enlace que llegará al email con el que te registraste para que en los próximos 7 días podamos confeccionar la prenda a tu medida. Cercioráte de que sean las correctas.
                    </p>

                </div>

                <button class="close-button" (click)="cerrarPersonalizado()"></button>
            </div>
        </div>

    </div>

</div>