<div class="modal-in">
    <div class="contenedor-in">
        <div class="head-in">
            <h1 class="title-in-" id="titulo-cuenta">CREAR CUENTA</h1>
            <div class="d-flex justify-content-center">
                <button class="close-in"></button>
            </div>
        </div>
        <h3 class="subtitle-in">INICIAR SESIÓN</h3>
        <form class="form-in">
            <label class="lab-in">Dirección de correo electrónico</label>
            <input type="email" class="inp-in">
            <label class="lab-in">Contraseña</label>
            <input type="password" class="inp-in">
            <a class="recu-in" href="">¿No puedes acceder a tu cuenta?</a>
            <input type="submit" class="btn-in" value="INICIAR SESIÓN">
        </form>
        <div class="boton_crear_cuenta">
            <button type="button" (click)="navigateToRegistro()" class="btn-up">CREAR CUENTA</button>
        </div>
    </div>
</div>