<!-- <p>
  home works!
</p> -->
<div>
  <h1>VIRTUAL TRENDS</h1>

  <div>
    <p>
      Las diseñadores siempre están en la búsqueda de innovar y optimizar los procesos de desarrollo de producto. La tecnología hoy más que nunca permite revolucionar el sistema de compra y venta de productos. 
      VIRTUAL TRENDS te acerca una plataforma única donde vas a encontrar los últimos modelos desarrollados con la última tecnología de software 3D, con la posibilidad de comprarlos y volverlos una realidad totalmente individual.
      Nosotros apostamos creemos que cada cuerpo y cada elección es única. Y te ofrecemos un espacio para que puedas elegir qué comprar -sobre una cantidad de productos y diseñadores disponibles- qué sistema de producción comprar -si deseas pedir sobre el sistema de talla estándar o personalizar las medidas desde la carga de tus medidas personales- y con qué  estampas y/o colores vas a recibir tu producto.
    </p>
  </div>
  
  <div>
    <p>
      Los mejores y más disruptivos diseñadores eligen VIRTUAL TRENDS para acompañarnos en esta tarea bellísima de revolucionar el sistema de compra y venta de productos. Cada diseñador es seleccionado y aceptado a partir de la calidad innovadora de los diseños 3d que nos presentan.
      Si vos sos un diseñador/a y quisieras unirte a esta propuesta te pedimos que te comuniques con nosotros    
    </p>
  </div>
  

</div>

