<div class="card-container" *ngFor="let product of products" id="{{product.id}}">
  <img class="picture" src="https://picsum.photos/200/300" alt="">
  <div class="text-container">
    <h1>{{product.name}}</h1>
    <p class="price">Precio: <b>${{product.price}}</b></p>
    <div *ngIf="hasFavorite">
    </div>
    <div class="amount-buttons" *ngIf="hasAmount">
      <button (click)="substract($event)" id="substract-button-{{product.id}}" [disabled]="(product.amount === 0)">-</button>
      <div>{{product.amount}}</div>
      <button (click)="add($event)" id="add-button-{{product.id}}">+</button>
    </div>
  </div>
</div>
