<div>
  <div class="formulario-edicion">
    <h1 class= "editar-cuenta" > EDITA TU PERFIL</h1>
      <div class="container-form col-8">

        <div class="container-texto" >
        <h2>Nombre</h2>
          <input class="input" type="text" id="nombre" >
        </div>

      <div class="container-texto">
        <h2>Apellido</h2>
        <input class="input" type="text" id="apellido ">
      </div>

      <div class="container-texto" id="texto-largo">
        <h2>Documento de Identidad</h2>
        <input class="input" type="number" id="dni">
      </div>

      <div class="container-texto" id="texto-largo">
        <h2>Dirección de correo electrónico</h2>
        <input class="input" type="email" id="email">
      </div>

      <div class="container-texto" >
          <h2>Contraseña</h2>
          <input class="input" type="password" id="password">
      </div>

      <div class="container-texto">
        <h2>Calle</h2>
        <input class="input" type="text" id="dir-calle">
      </div>

      <div class="container-texto">
        <h2>Altura</h2>
        <input class="input" type="number" id="dir_numero" >
      </div>

      <div class="container-texto" id="texto-largo">
        <h2>Piso-Departamento-PH</h2>
        <input class="input" type="text" id="ph">
      </div>

      <div class="container-texto">
      <h2>Código Postal</h2>
        <input class="input" type="number" id="cp">
      </div>

      <div class="container-texto">
        <h2>Ciudad</h2>
        <input class="input" type="text" id="ciudad" >
      </div>

      <div class="container-texto">
        <h2>Provincia</h2>
        <input class="input" type="text" id="provinica">
      </div>

      <div class="container-texto">
        <h2>Teléfono</h2>
        <input class="input" type="tel" id= "tel_cel">
      </div>

      <div class="boton">
        <input class="btn btn-dark" value="ENVIAR">
      </div>
    </div>
  </div>
</div>
