<div class="container main-container my-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 my-3">
      <div class="card my-product-card card-img-wrapper position-relative text-bg-dark">
        <img src="/assets/products/01_ASSYMETRICTEE/01_ASSYMETRICTEE_Custom_View_2.webp" class="card-img img-fluid" alt="..."> 
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <div class="card-overlay">
            <h5 class="card-title categorias-foto">ELLA</h5>
            <p class="card-text" id="click-aqui">CLICK AQUI</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6 col-md-6 my-3">
      <div class="card my-product-card card-img-wrapper position-relative text-bg-dark">
        <img src="/assets/products/21_MULTIPOCKET_BOMBER/21_MULTIPOCKET_BOMBER_Custom_View_1.webp" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <div>
            <h5 class="card-title categorias-foto">ÉL</h5>
            <p class="card-text" id="click-aqui">CLICK AQUI</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 my-3">
      <div class="card my-product-card card-img-wrapper position-relative text-bg-dark">
        <img src="/assets/products/07_ELEGANTBACKBAG/07_ELEGANTBACKBAG_Custom_View_1.webp" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <div>
            <h5 class="card-title categorias-foto">BOLSOS</h5>
            <p class="card-text" id="click-aqui">CLICK AQUI</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 my-3" id="accesorios-card">
      <div class="card my-product-card card-img-wrapper position-relative text-bg-dark">
        <img src="/assets/products/04_GLOVES/GLOVES_Custom_View_1.webp" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <div>
            <h5 class="card-title categorias-foto">ACCESORIOS</h5>
            <p class="card-text" id="click-aqui">CLICK AQUI</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>