<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos-generales.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Josefin+Sans:wght@400;500&display=swap" rel="stylesheet">
    <title>Virtual-Trends</title>
</head>
<body>
    <header>
        <div class="navigation-bar">
            <div class="left-nav">
              <ul>
                <li><a href="#">Producto</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Comunidad</a></li>
              </ul>
            </div>
            <div class="logo-container">
              <img src="logo.png" alt="Logo de la empresa">
            </div>
            <div class="right-nav">
              <ul>
                <li><a href="#">Cuenta</a></li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Carrito</a></li>
              </ul>
            </div>
          </div>
    </header>

    <div class="home-image-container">
        <img src="/Users/gaghy/ProyectoIntegrador-E-COMMERCE/FRONT-END/assets/img/principal_street-bolso-walking_YUKTA.jpg" alt="Imagen principal del home. Avatar animado con bolso, caminando">
    </div>
        

</body>
</html>