<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- INDICADOR -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- IMAGENES -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../../assets/img-tec-clo3d/Virtual-Prototyping-Clo-3D-3.jpg" alt="Imagen 1">
        <div class="carousel-caption">
          <h3>Epígrafe de la imagen 1</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/img-tec-clo3d/tecnologia-CLO-3D.jpg" alt="Imagen 2">
        <div class="carousel-caption">
          <h3>Epígrafe de la imagen 2</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/img-tec-clo3d/Virtual-Prototyping-Clo-3D.jpg" alt="Imagen 3">
        <div class="carousel-caption">
          <h3>Epígrafe de la imagen 3</h3>
        </div>
      </div>
    </div>
  
    <!-- CONTROLES -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
  
  