<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex justify-content-center align-items-center">
        <img src="../../../../assets/img-tec-clo3d/Virtual-Prototyping-Clo-3D-3.jpg" alt="Imagen 1" class="d-block w-80 ca-tamanio-img">
      </div>
    </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../../../assets/img-tec-clo3d/tecnologia-CLO-3D.jpeg" alt="Imagen 2" class="d-block w-80 ca-tamanio-img">
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex justify-content-center align-items-center">
        <img src="../../../../assets/img-tec-clo3d/Virtual-Prototyping-Clo-3D.jpeg" alt="Imagen 3" class="d-block w-80 ca-tamanio-img">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  