* {
    font-family: 'Archivo', sans-serif;
    color: #575757;
}

/* Input text and number max-width 500px */

input[type="text"], input[type="number"], select {
    max-width: 500px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.form-container {
    padding: 0 10px;
    width: 70%;
    margin: 0 auto;
}

.action-button {
    background: #3B3D40;
    color: #F7F7F2;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    transition: background-color .5s;
    font-size: 16px;
    font-family: 'Archivo', sans-serif;
    cursor: pointer;
    text-align: center;
    max-width: 300px;
}

.short-form .action-button {
    margin-left: 10px;
}

.action-button:hover {
    background: black;
}

.action-button:disabled {
    background-color: #e9e9e9;
    color: #bdbdbd;
    cursor: default;
}

.large-form {
    display: grid;
    gap: 10px;
}

.checkbox {
    display: flex;
}

.checkbox p {
    margin: 0 0 0 10px;
}

.block-form {
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.block-form p {
    margin: 0;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 10%;
    display: inline-block;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.color-checkbox {
    margin-right: 10px;
}

.sizes-p {
    display: inline-block;
    margin-left: 10px !important;
}

/** Box colors */

.dark-red {
    background-color: #5E0F0F;
}

.purple-grey {
    background-color: #525781;
}

.orange {
    background-color: #DAA668;
}

.dark-green {
    background-color: #2C4E20;
}

.coral {
    background-color: #CBA49A;
}

.cyan {
    background-color: #A8D3D9;
}