*{
    font-family: 'Josefin Sans',sans-serif;
}
body{
    background-color: #F7F7F2;
}

.main-container {
    justify-content: center;
    width: 100%;
    padding: 5% 0%;
    height: 100%;
    display:flex;
  }

  @media screen and (max-width: 2500px) {
    .main-container {
      flex-direction: column;
    }
    
    .main-image-container {
      width: 100%;
    }
  
    .image-container {
      margin-right: 0px;
    }

    .main-all-sections {

        flex-direction: column;

    }

  }